.about__title, .about__subtitle {
  color: black;
}

.about__descript, .about__discription {
  color: rgb(102, 102, 102);
}

.about__title, .about__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about-container {
  padding-top: 107px;
}

.about__title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 17px;
}

.about__discription {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 49px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__list .about__item {
  width: 276px;
  height: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.about__list .about__item--circle::before {
  content: url(../img/about_separate.png);
  position: absolute;
  top: 50px;
  left: 230px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.about__list .about__item .about-reused {
  height: 118px;
}
.about__list .about__item .about__circle {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: rgb(242, 245, 244);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.about__list .about__item .about__icon {
  width: 68px;
  height: 68px;
  border: 1px dashed;
  border-color: rgb(180, 188, 186);
}
.about__list .about__item .about-reused {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about__list .about__item .about-reused .about__subtitle {
  margin-bottom: 20px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  line-height: 1;
}
.about__list .about__item .about-reused .about__descript {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}