.about {
    &__title , &__subtitle {
        color: black;
    }

    &__descript , &__description {
        color: rgb(102, 102, 102);
    }

    &-container {
        padding-top: 107px;
    }
    
    &__title , &__description {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;;
        margin-top: 0px;
        margin-bottom: 17px;
    }
    &__description {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 49px;
    }
}













