.order {
    background: url(../img/bg_order.png) center no-repeat;
    background-size: cover;
}

.order__title {
    font-size: 48px;
    font-weight: 700;
    padding-top: 62px;
    text-align: center;
    margin-top: 0;
}

