.order {
    background: url(../img/bg_order.png) center no-repeat;
}

.order__title {
    font-size: 48px;
    font-weight: 700;
    padding-top: 62px;
    text-align: center;
}

.form {
    display: flex;
}